body { cursor: default; }

/* Menu */
#header { z-index: 1050; }
.menu-section { background-color: var(--amadeus-menu-section-bgd, #E1F2FF); border: 1px solid #999!important; border-style: solid none solid none!important; }
body.theme-canvas .menu-link { padding-top: 10px; padding-bottom: 10px; }

.showing-sites .content-wrap { min-height: 100vh; }
.showing-sites h2 { 
	background-color: var(--amadeus-heading-bgd, whitesmoke);
	color: var(--cnvs-link-color, teal);
	padding: 6px; border-radius: 5px;
}

.breadcrumb-item { border: #333 1px solid; border-radius: 2ex; }

.breadcrumb-item abbr {
	background-color: #737cf8;
	color: #f7e5e5;
	font-weight: bolder;
	border-radius: 50%;
	height: 3ex;
	display: inline-block;
	padding: .6ex 1ex .6ex 1ex;
	line-height: .7;
	margin-left: 3px;
}

/* Content */
.content-box:not(.plain) {
	background-color: #fff;
	padding: 25px;
	border-radius: 15px;
	border: 1pt solid #666;
	margin-bottom: 20px;
}

.content-box:not(.plain), .box-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wants-only-content #header { display: none; }
.mfp-iframe { background-color: #f0f0f0!important; border-radius: 30px; padding: 20px; }

.wants-ls-2 h1, .wants-ls-2 h2, .wants-ls-2 h3 { letter-spacing: 4px; }
.wants-ls-3 h1, .wants-ls-3 h3, .wants-ls-3 h3 { letter-spacing: 6px; }

/* toolbar and containers */
div.toolbar { background-color: white; padding: 10px 20px 10px 20px!important; width: fit-content; border-radius: 15px; margin: 0 auto 15px auto; }

	/* EMBEDS */
.deck-container { padding: 10px; }
.deck-container iframe { width: 100%; height: 85vh; border-radius: 20px; }

	/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 20px; }
.video-container iframe { position: absolute; top: 0; left: 0; }

/* LARGE LIST */
div.large-list { background-color: #fffeea !important; }
.large-list.with-labels { background-color: #defafa!important; }
.large-list li { font-size: 125% !important; margin-bottom: 12px; }

.with-labels label { width: 120px; display: inline-block; text-align: right; }
.with-labels li { list-style-type: none; margin-bottom: 4px; border-bottom: 1px solid lightgray; }
.with-labels a { font-size: 115%; font-weight: bold; }

li ul { margin-left: 25px; }
.bg-light.btn:hover { --bs-btn-hover-color: #666; }

ol.large-list,
ul.large-list,
.large-list ol,
.large-list ul {
	border: 2px solid #333;
	border-width: 2px 0 2px 0;
	padding: 10px 0 10px 0;
}

ul.large-list, .large-list ul { list-style-type: none; }

/* Footer */
#footer a:not(.bg-light) { color: #fff; }
#footer-social { padding-bottom: 15px; }
#footer-social .social-icon { float: none; position: relative; top: 10px; }

/* Feature Headings */
.amadeus-icon { text-align: center; background-color: var(--amadeus-heading-bgd, #cecece);
	width: fit-content; margin: 20px auto; padding: 8px 15px 8px 15px!important; }
#special-md { padding-top: 20px; }
#special-md .amadeus-icon:first-child { margin-top: 0; }
#statistics .amadeus-icon { background-color: whitesmoke; }
h2.amadeus-icon { font-size: 120%; padding: 5px; }

/* after-content */
.after-content { background-color: var(--amadeus-heading-bgd, #f0f0f0)!important; }
#statistics .after-content { background-color: #ffe5c3!important; }
.after-content table, .after-content .block-links { background-color: white; }
.after-content .block-links { padding: 15px; border: 1px solid #666; }
ul.block-links li { list-style-type: none; margin-bottom: 8px; }

/* datatables */
.after-content .dt-search { padding: 6px 12px 6px 12px; background-color: #fffeea; border-radius: 8px; }
.after-content .dt-search .dt-input { background-color: #fff; }

/* Image Related */
.has-floating-images::after { display: block; clear: both; content: ''; }
.float-left { float: left; }
.float-right { float: right; }
.img-fluid { width: 100%; }
.img-max-800 { max-width: 800px; }
.img-max-700 { max-width: 700px; }
.img-max-600 { max-width: 600px; }
.img-max-500 { max-width: 500px; }
.img-max-400 { max-width: 400px; }
.img-max-300 { max-width: 300px; }
.img-max-200 { max-width: 200px; }
.img-max-150 { max-width: 150px; }
.img-max-100 { max-width: 100px; }

/* https://stackoverflow.com/a/24630169 */
@media screen and (min-aspect-ratio: 13/9) { .show-in-portrait { display: none; } } 
@media screen and (max-aspect-ratio: 13/9) { .show-in-landscape { display: none; } }

/* buttons */
.btn-has-icon::before { margin-right: 6px; }
footer .btn-has-icon { font-size: 115%; line-height: 1.2; }
